:root {
  --white-color: #ffffff;
  --main-background: #F8F4EF;
  --alt-background: #FFFCF9;
  --light-color: #D0D8DC;
  --dark-color: #001A3A;
  --medium-color: #353F68;
  --accent-color: #FFC23D;
  --secondary-accent-color: #DB523B;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input,
textarea,
select {
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  outline: none;
  background: none;
}

.block {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin: 30px;
  flex-direction: column;
  align-items: center
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

body {
  font-family: 'Anek Latin', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background);
  font-weight: 300;
  line-height: 1.5;
  color: var(--dark-color);
  text-align: center;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  font-stretch: 125%;
  color: var(--medium-color);
  line-height: 1;
  padding-bottom: 30px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  font-stretch: 125%;
  line-height: 1;
  padding-bottom: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 800;
  font-stretch: 125%;
  line-height: 1;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

label {
  display: flex;
  padding: 0 15px;
  height: 50px;
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: var(--white-color);
  width: 20%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  color: var(--medium-color);
}

input {
  padding: 0 15px;
  height: 50px;
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 80%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  background-color: var(--white-color);
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.logo{
  height: 40px;
  margin-bottom: 60px;
}

.btn {
  display: inline-block;
  padding: 17px;
  margin: 30px;
  font-weight: 800;
  font-size: 14px;
  font-stretch: 125%;
  border-radius: 20px;
  background-color: var(--accent-color);
  color: var(--white-color);
  text-decoration: none;
  min-width: 200px;
  text-align: center;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.10);
  transition: transform 0.2s, box-shadow 0.2s;
  /* Smooth hover transition */
}

.btn:hover {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.box {
  background-color: var(--medium-color);
  color: var(--white-color);
  border-radius: 20px;
  max-width: 750px;
  font-weight: 800;
  padding: 60px 30px;
}

.services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
}

.service-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
svg.icon {
  stroke: var(--medium-color);
  stroke-width: 3px;
  width: 80px;
  height: 80px;
  display: flex;
}
svg.icon path{

}

.service-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: calc((100% - 80px) - 30px);
  text-align: left;
}

.why-choose {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 30px;
  justify-content: center
}

.why-choose h2 {
  width: 100%;
}

.choose-item {
  width: calc((100% - (30px * 2)) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 340px;
}

.background-section {
  background-color: var(--accent-color);
}

.background-section .btn {
  background-color: var(--medium-color);
}

.membership {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  justify-content: center
}

.membership h2 {
  width: 100%;
}

.plan-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border-radius: 20px;
  width: calc((100% - 60px) / 3);
  text-align: left;
  padding: 60px 30px;
  font-size: 16px;
  gap: 15px;
  min-width: 340px;
}

.plan-card .btn {
  width: calc(100%);
  margin: 30px 0;
}

.plan-card form .btn {
  width: calc(100%);
  margin: 0 0 30px;
}

.bar {
  width: 100%;
}

.main-accent .bar {
  border-bottom: solid 3px var(--medium-color);
}

.secondary-accent .bar {
  border-bottom: solid 3px var(--white-color);
}

.tertiary-accent .bar {
  border-bottom: solid 3px var(--accent-color);
}

.plan-card.main-accent .btn {
  background-color: var(--medium-color);
}

.plan-card.secondary-accent .btn {
  background-color: var(--medium-color);
}

.price {
  font-size: 36px;
  font-weight: 800;
  font-stretch: 125%;
}

.tertiary-accent {
  background-color: var(--medium-color);
  color: var(--accent-color);
}

.main-accent {
  background-color: var(--accent-color);
  color: var(--medium-color);
}

.secondary-accent {
  background-color: var(--secondary-accent-color);
  color: var(--white-color);
}

.alt-background{
  background-color: var(--alt-background);
}

.ignite{
  gap: 20px;
  color: var(--medium-color);
}

.faq {
  display: flex;
  border-bottom: 3px solid var(--dark-color);
  margin: 25px 30px;
  padding-bottom: 40px;
  width: calc(100vw - 60px);
  max-width: calc(1200px - 60px);
}

.faq-left{
  width: calc(100% - 30px);
  text-align: left;
}

.faq img{
  width: 30px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.answer{
  display: none;
}
